<form action="/comment" method="POST">

  <div class="contact-form-container">
    <div class="contact-form-item-a">
      <h3 class="black-header-light">Leave us Feedback</h3>
    </div>
    <div class="contact-form-item-b">
      <label for="firstName" class="medium-header" style="padding-bottom: 5px">First Name</label>
      <input type="text" class="form-control" name="firstName">
    </div>

    <div class="contact-form-item-c">
      <label for="lastName" class="medium-header" style="padding-bottom: 5px">Last Name</label>
      <input type="text" class="form-control" name="lastName">
    </div>

    <div class="contact-form-item-d">
      <label for="email" class="medium-header" style="padding-bottom: 5px">Email</label>
      <input type="email" class="form-control" name="email">
    </div>

    <div class="contact-form-item-e">
      <label for="lastName" class="medium-header" style="padding-bottom: 5px">Message</label>
      <textarea rows="11" cols="50" class="form-control" name="message"></textarea>
    </div>

    <div class="contact-form-item-f">
      <div class="col-auto">
        <button class="purple-button">Submit</button>
      </div>
    </div>
  </div>
</form>