<div class="row mx-2">
  <div class="col-3">
    <div class="black-header-large">Email</div>
  </div>
</div>

<div class="row mt-2 mx-2">
  <div class="col-auto">
    <a href="mailto:tasktrackerco@gmail.com"><img src="/images/mail.png" height="23"></a>
  </div>

  <div class="col-auto">
    <a href="mailto:tasktrackerco@gmail.com" class="black-link">
      tasktrackerco@gmail.com
    </a>
  </div>
</div>