<div class="mx-4">
  <div class="row mt-2">
    <div class="col-auto">
      <div class="black-header-large">Email</div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-2">
      <a href="mailto:tasktrackerco@gmail.com"><img src="/images/mail.png" height="23"></a>
    </div>

    <div class="col-auto mt-2">
      <a href="mailto:tasktrackerco@gmail.com" class="black-link">
        tasktrackerco@gmail.com
      </a>
    </div>

  </div>

</div>