<div class="contact-form-container">
  <div class="contact-form-item-a">
    <h3 class="black-header-light">Email Us</h3>
  </div>

  <div class="contact-form-item-b">
    <span class="mx-3">
      <a href="mailto:tasktrackerco@gmail.com"><img src="/images/mail.png" height="23"></a>
    </span>

    <span>
      <a href="mailto:tasktrackerco@gmail.com" class="black-link">
        tasktrackerco@gmail.com
      </a>
    </span>

  </div>
</div>