<% if (success && success.length) { %>
<div class="row mt-4 justify-content-center">
  <div class="col-6">
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  </div>
</div>
<% } %>

<% if (error && error.length) { %>
<div class="row mt-4 justify-content-center">
  <div class="col-6">
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
</div>