<% layout('layouts/boilerplate') %>

<div class="contact-grid-container">
  <div class="contact-item-a">
  </div>

  <div class="contact-item-b">
    <h1 class="header">Contact Us</h1>
  </div>

  <div class="contact-item-c">
    <%- include('./partials/contact') %>
  </div>

  <div class="contact-item-d">
  </div>

</div>