<% layout('layouts/boilerplate') %>

<div class="login-grid-container">

  <div class="login-item-a">
    <h1 class="header margin-top-3pct">Contact Us</h1>
  </div>

  <div class="login-item-b">
    <%- include('partials/contact') %>
  </div>

</div>