<% layout('layouts/boilerplate') %>

<div class="home-grid-container">
  <div class="home-item-a">
    <h1 class="header"></h1>
  </div>

  <div class="home-item-d">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Task Tracker</h1>
      <p class="lead">We'll make sure you stay on track and organize all of your projects!</p>
      <hr class="my-4">
      <p></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Get Started</a>
      </p>
    </div>
  </div>
</div>