.contact-grid-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "a6 b6 b6 b6"
  "a6 c6 c6 . "
  "a6 d6 d6 . "
  "a6 . . .";
}

.contact-item-a{
  grid-area: a6;
  background-image: url("/images/laptop.jpg");
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-auto-rows: 1fr;
  min-height: 1200px;
  background-color: gray;
}

.contact-item-b{
  grid-area: b6;
  margin-top: 5%;
  margin-left: 5%;
}

.contact-item-c{
  grid-area: c6;
  margin-top: 5%;
  margin-left: 5%;
}

.contact-item-d{
  grid-area: d6;
  margin-top: 7%;
  margin-left: 5%;
}

div.contact{
  margin: 0;
  padding: 0;
}

.contact-form-container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 5px;

  grid-template-areas: "a7 a7 . ."
  "b7 b7 . ."
  "c7 c7 . ."
  "d7 d7 d7 ."
  "e7 e7 e7 e7"
  "f7 f7 . .";
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5% 5% 5% 5%;
}

.contact-form-item-a{
  grid-area: a7;
  margin-bottom: 2%;
}

.contact-form-item-b{
  grid-area: b7;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact-form-item-c{
  grid-area: c7;
  margin-bottom: 0%;
}

.contact-form-item-d{
  grid-area: d7;
  margin-bottom: 2%;

}

.contact-form-item-e{
  grid-area: e7;
  margin-bottom: 2%;
}

.contact-form-item-f{
  grid-area: f7;
}