:root {
    --brand-color1: #8758FF;
    --brand-color2: #5CB8E4;
    --brand-color3: #181818;
    --brand-color4: #F2F2F2;
    --brand-color5: #F2F7A1;
    --brand-color6: #46C2CB;
    --brand-color7: #6D67E4;
    --brand-color8: #453C67;
    
    /* Lesser used colors */
    --brand-color9: #FFA33C;
    --brand-color10: #B15EFF;
    --brand-color11: #FFFB73;
    --brand-color12: #F5EAEA;
  }