<% layout('layouts/boilerplate') %>

<div class="tasks-layout-container">
  <div class="tasks-item-a">
    <h1 class="header">New Task</h1>
  </div>

  <div class="tasks-item-c">
    <form action="/tasks/<%=projectId%>/new" method="POST" id="task-form-grid-container" class="validated-form" novalidate>
      <div class="task-form-item-h1">
        <!-- HEADER ROW: Left margin to align with ol -->
        <h6 class="black-header">Item Name</h6>
      </div>
      <div class="task-form-item-h2">
        <h6 class="black-header">Task Owner</h6>
      </div>

      <div class="task-form-item-h3">
        <h6 class="black-header">Complete</h6>
      </div>

      <div class="task-form-item-h4">
        <h6 class="black-header">Due Date</h6>
      </div>
      <div class="task-form-item-h5">
        <!-- Empty column -->
      </div>
      <div class="task-form-item-h6">
        <!-- Empty column -->
      </div>

      <div class="task-form-item-v1">
        <input type="text" class="form-control" placeholder="Task Name" name="name" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="task-form-item-v2">
        <input type="text" class="form-control" placeholder="John Doe" name="owner" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="task-form-item-v3">
        <input type="number" class="form-control" placeholder="0%" name="percentComplete" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="task-form-item-v4">
        <input type="date" class="form-control" placeholder="12/31/2024" name="dueDate" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <input type="hidden" name="project" value="<%=projectId%>">
      <input type="hidden" name="user" value="<%=currentUser._id%>">

      <div class=" task-form-item-v5">
        <button class="purple-button">Add Task</button>
      </div>

    </form>

  </div>

</div>