<% layout('layouts/boilerplate') %>

<div class="home-grid-container">
  <div class=" home-item-a">
    <h1 class="header">Log In</h1>
  </div>

  <div class="home-item-d">
    <form action="/login" method="POST" class="validated-form" novalidate>

      <div class="col-6 my-3">
        <input type="text" class="form-control" placeholder="username" name="username" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="col-6 my-3">
        <input type="text" class="form-control" placeholder="password" name="password" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button class="blue-button">Submit</button>
      <button type="button" class="magenta-button"><a href="/register">Register</a></button>

    </form>

  </div>

</div>