<% layout('layouts/boilerplate') %>

<div class="login-grid-container">
  <div class="login-item-a">
    <h1 class="header">Log In</h1>
  </div>

  <div class="login-item-b">
    <div class="form-card">
      <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="login-form-item-a">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="login-form-item-b">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="login-form-item-c mt-4">
          <button class="purple-button">Submit</button>
        </div>

        <div class="login-form-item-d mt-4">
          Don't have an account? <a href="/register" class="purple-link">Register</a>
        </div>
      </form>
    </div>

  </div>

</div>