<% layout('layouts/boilerplate') %>

<div class="home-grid-container">
  <div class="home-item-a">
    <h1 class="header">Register</h1>
  </div>

  <div class="home-item-d">
    <form action="/register" method="POST" class="validated-form" novalidate>
      <div class="col-6 my-3">
        <input type="text" class="form-control" placeholder="email" name="email" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="col-6 my-3">
        <input type="text" class="form-control" placeholder="username" name="username" required>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="col-6 my-3">
        <input type="text" class="form-control" placeholder="password" name="password" required>
        <div class="valid-feedback">Looks good!</div>
      </div>


      <button class="blue-button">Submit</button>
    </form>
  </div>
</div>