<% layout('layouts/boilerplate') %>

<div class="login-grid-container">
  <div class="login-item-a">
    <h1 class="header">Register</h1>
  </div>

  <div class="login-item-b">
    <div class="login-form-card">
      <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="login-form-item-a">
          <label class="form-label" for="email">Email</label>
          <input type="text" class="form-control" name="email" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="login-form-item-b">
          <label class="form-label" for="username">Username</label>
          <input type="text" class="form-control" name="username" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="login-form-item-c">
          <label class="form-label" for="password">Password</label>
          <input type="password" class="form-control" name="password" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="login-form-item-d">
          <button class="blue-button mt-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>