<% layout('layouts/boilerplate') %>

<div class="home-grid-container">
  <div class=" home-item-a">
    <h1 class="header">Settings</h1>
  </div>

  <div class="home-item-d">
    <form action="/user?_method=DELETE" method="POST" class="validated-form" novalidate>
      <button class="btn btn-outline-danger" onclick="return confirmDelete()">Delete Account</button>
    </form>

  </div>

</div>